---
const bottomLinks = [
  {
    header: 'Social',
    links: [
      {
        name: 'Twitter',
        href: 'https://twitter.com/',
        isExternal: true,
      },
      {
        name: 'Instagram',
        href: 'https://instagram.com/',
        isExternal: true,
      },
      {
        name: 'Facebook',
        href: 'https://facebook.com/',
        isExternal: true,
      },
    ],
  },
  {
    header: 'Company',
    links: [
      {
        name: 'Home',
        href: '/',
        isExternal: false,
      },
      {
        name: 'About',
        href: '/about',
        isExternal: false,
      },
      {
        name: 'Bathroom Accessories',
        href: '/bathroom-accessories',
        isExternal: false,
      },
      {
        name: 'Metal Decors',
        href: '/metal-decors',
        isExternal: false,
      },
      {
        name: 'Curtain Rods',
        href: '/curtain-rods',
        isExternal: false,
      },
    ],
  },
  {
    header: '',
    links: [
      {
        name: '',
        href: '/',
        isExternal: false,
      },
      {
        name: '',
        href: '/',
        isExternal: false,
      },
      {
        name: '',
        href: '/',
        isExternal: false,
      },
    ],
  },
];
---

<footer
  class="mt-16 bg-primary-500/10 py-16 dark:bg-primary-400/10 lg:mt-20 lg:py-20"
  aria-labelledby="footer-heading"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col justify-between gap-12 sm:gap-16 lg:flex-row">
      <div class="flex max-w-sm flex-col items-start gap-6 sm:gap-8">
        <div class="h-8 w-32 text-sm font-extrabold">Al Felicitae</div>
        <p class="text-base text-primary-950/70 dark:text-primary-200/70">
          At Al-Felicita, we believe that your home is a canvas where memories are painted, and
          every brushstroke should reflect your unique style.
        </p>
        <p class="text-sm text-primary-950/70 dark:text-primary-200/70">© 2023 Al-Felicita</p>
      </div>

      <!-- Bottom links -->
      <div class="grid max-w-xl flex-1 grid-cols-1 gap-8 sm:grid-cols-3">
        {
          bottomLinks.map((group) => (
            <div class="flex flex-col gap-4">
              <p class="text-base font-medium">{group.header}</p>
              <ul role="list" class="flex flex-col gap-3">
                {group.links.map((link) => (
                  <li>
                    <a
                      href={link.href}
                      class="inline-flex items-center gap-1 rounded-md text-base hover:underline focus-visible:outline focus-visible:outline-2 focus-visible:outline-primary-950 dark:focus-visible:outline-primary-200"
                      target={link.isExternal ? '_blank' : undefined}
                      rel={link.isExternal ? 'noopener' : undefined}
                    >
                      {link.name}
                      {link.isExternal && (
                        <svg
                          class="h-4 w-4"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z" />
                        </svg>
                      )}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</footer>
