---
const stats = [
  {
    name: 'Years',
    value: '9',
  },
  {
    name: 'Experts',
    value: '15',
  },
  {
    name: 'Projects',
    value: '122',
  },
  {
    name: 'Awards',
    value: "'9'",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Our curated collection boasts a blend of sophistication and comfort, offering an array
              of metal decoratives, curtains, and bathroom accessories. Each piece is carefully
              selected to elevate your living space, transforming it into a haven of style and
              warmth.
            </p>

            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Al-Felicita is not just a brand; it's a commitment to providing you with timeless
              pieces that resonate with your taste and make your home truly yours. Discover the art
              of home decor with Al-Felicita, where every detail is an expression of elegance.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="rounded-3xl border border-primary-900/10 p-6 dark:border-primary-300/10">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
