---
import Layout from '../layouts/Layout.astro';
const curtainRods = [
  {
    id: 1,
    imageUrl:
      'https://lh3.googleusercontent.com/qOPltYpqV34nMvfGN-roLW5_PIZq4aRGDPnRwsLfqrASwxsk3Z__kZ88vWdp-qUGATQ9Dxxv5-kcLnHPygwV1Ls=w1280',
    alt: 'Curtain Rod 1',
  },
  {
    id: 2,
    imageUrl:
      'https://lh4.googleusercontent.com/iW-CUmjqqSr7n1mtgqDAHrklss_a2Yujtq7JgdvbkMJYrbwKHQ8HPSXzV3dN4B2hcthr1TmRDjQpHkBQ-r3GFVQ_3j2IycP0cQN7apgGInFGlqIAzYXLZ9iz9IBRWA-JkA=w1280',
    alt: 'Curtain Rod 2',
  },
  {
    id: 3,
    imageUrl:
      'https://lh3.googleusercontent.com/QhALpC_wsnDZ7Jt3W7WbO6fO66lvZsS2QSx9jI7a_VG_sklaHmL5Otpffos-QFWFOjCeY4__ttqTi1jajxPL1So=w1280',
    alt: 'Curtain Rod 3',
  },
  {
    id: 4,
    imageUrl:
      'https://lh6.googleusercontent.com/BxW8-uvzrCyXkQ9FMnyw7jBHJ1UrQqjYXMsiTMIKUq5FuNlF0j8ympBd6nMQ8OoJcQuQuW2wDd-WNXTvmmegKhja5NfVbaZ-gWpQ2cNckSqD9Igy1NLMs60o-6tBFWQ6uA=w1280',
    alt: 'Curtain Rod 1',
  },
  {
    id: 5,
    imageUrl:
      'https://lh6.googleusercontent.com/lnPKyLI_C-wVmUVLbjQNmNIaaE8DGJaCGd9Ve_d87ht9vonrLPyLr31rVB3PNtDswhE5bEZTyznYAXGlgXSY6b8=w1280',
    alt: 'Curtain Rod 1',
  },
  {
    id: 6,
    imageUrl:
      'https://lh6.googleusercontent.com/2JiOq9fJEskPx52SmvgrrpIH_WUZcCq8aE5d7sRbEHZJbWIm-6GTe7JrAPd7yuyimocmWOEqqRCMd-vH62u9VEE=w1280',
    alt: 'Curtain Rod 1',
  },
  {
    id: 7,
    imageUrl:
      'https://lh6.googleusercontent.com/UF1eqGRyRzecibQMLEHvUWmI21_ve832k1vIV483gZj8tZuqNa9HJvgzwBA2f41F_wPdA3GOAVpEbZwr117YyyUPqZz6gc8OApxYpydxV2Zw0UweNYQyu9USiarDkwpumg=w1280',
    alt: 'Curtain Rod 1',
  },
  {
    id: 8,
    imageUrl:
      'https://lh6.googleusercontent.com/EWuQK1cVwc4F0Vd-MMn0J2Cdkpp4yLGw8Nn0srKwVLUW_wqlBDkvw56ShQRX85KPcomMnhHCKaKuzHJe_RYWOWBfnzulw6q9Y0GiydawmS31BGjD4gMHKoFg83rtdl39=w1280',
    alt: 'Curtain Rod 1',
  },
  {
    id: 9,
    imageUrl:
      'https://lh4.googleusercontent.com/RPDevXRY-RcshURjYgCHj8fiPgQURL9AeVOXFsy-01HMoeacdeig7DqvJlI76m1WymwQnYRzBwcQ_O6Jqd0ioLw=w1280',
    alt: 'Curtain Rod 1',
  },
  {
    id: 10,
    imageUrl:
      'https://lh4.googleusercontent.com/7fJI-pMTcIs0Zg0Yh0jlaNCnytEU670-UPgyojU9AUN7L0FBed6qRfECo-FaMpC9PuhGymbc_BAR1YNRNwUDf27WGDif5l5Kwj2vBx8sVAmQpFT1yCjeZGomtGOfE8KDIA=w1280',
    alt: 'Curtain Rod 1',
  },
  {
    id: 11,
    imageUrl:
      'https://lh3.googleusercontent.com/qkM_a1PMycfrcz8eymgpw8WtT4CX0DXVgHqdvmXVDdoXk2cNCuBFe3hr4wUkz-l7V7TAuB7-t59AnMSzfQuMPFY=w1280',
    alt: 'Curtain Rod 1',
  },
  {
    id: 12,
    imageUrl:
      'https://lh3.googleusercontent.com/SdxEpeT7SjnwCvcgk1JCTrgCgxBk-Uw4bJl6alLgLhGYmkZ7lEjKFtKe-LbOw_qfxNbBjtBDvmSwJ9IruSDWLH0=w1280',
    alt: 'Curtain Rod 1',
  },
];
---
<Layout
  description="Explore our wide range of bathroom accessories."
  title="Bathroom Accessories · Home"
>
  <div class="max-w-10xl mx-auto px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div>
      <h1 class="mb-8 text-6xl font-bold">Curtain Rods</h1>
    </div>
    <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      {curtainRods.map((accessory) => (
        <div
          class="bg-gray-200 overflow-hidden rounded-lg shadow-md flex flex-col justify-between"
        >
          <div>
            <img
              src={accessory.imageUrl}
              alt={accessory.alt}
              class="sm:h-80 md:h-96 lg:h-120 w-full object-cover"
            />
            <div class="p-4">
              <p class="text-sm truncate">{accessory.alt}</p>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</Layout>
