---
import Layout from '../layouts/Layout.astro';
const metalDecors = [
  {
    id: 1,
    imageUrl:
      'https://lh4.googleusercontent.com/X_GgVPfZQAeMDG5xib79noxGtP3hYvR4gJ9gW52OaJPQD6LullRa-DtiQqEaudLTUrRXgDsIMrzbkMewBewVozSYbnt8ybjlY5mdciGtR3LlDrjB7FhJ0_X7a5cr5WdhJA=w1280',
    alt: 'Metal Decor 1',
  },
  {
    id: 2,
    imageUrl:
      'https://lh4.googleusercontent.com/uRW_AnsWPSsZWQcFRcP-HeOUNorwF6MWztncHwzrjM2lSeY9D6RdLQitaljUldcSk81HK3AGq9Hb9nr_S-5AaTL_fJl5e88Ywed715K-_lxwl_f_-J1vbFPV84Q_ILlnqg=w1280',
    alt: 'Metal Decor 2',
  },
  {
    id: 3,
    imageUrl:
      'https://lh4.googleusercontent.com/9c-sttF9ASF8b5iehWcHzhaptuGAZxObcH0bObNQnb8nFJQMvTLZr3qAGkXDNpoC8OEdsT6nVlzWf4KjKX1_0ZkpgD1hg0ugT5rdypKZi6j_CUlckzhz4mUPiM0qTyrjFA=w1280',
    alt: 'Metal Decor 3',
  },
  {
    id: 4,
    imageUrl:
      'https://lh6.googleusercontent.com/QjAGjN_ki_GvtwPVlWWGRe7aPeKPRoqeHSC4VawI58qLQyJsXxb3oin1M-hY0FAsYMqrk_AeWh5Hm_fLB68j32FMfXBMh3nYpPqtPGFj0IH5K_HmouNRUmiNR9rZ3BaPVA=w1280',
    alt: 'Metal Decor 1',
  },
  {
    id: 5,
    imageUrl:
      'https://lh6.googleusercontent.com/PZ5TUSXTiuVQ_6G_HkF6GUXNjxrLqT8AFO5-PcfQna14nteL4wUylWa0ALFv6HP-XBcVOTO43Od-MmaEjlzn6K8=w1280',
    alt: 'Metal Decor 1',
  },
  {
    id: 6,
    imageUrl:
      'https://lh3.googleusercontent.com/dD1-VpIMdzEqDVgzQJwqWfoyFrKNSfuXFIxWw7giucq7hM8ZrTSInEKcA24MUhJxJcKmQm3hMKG9UzHIv1jfEiPiNNX76kMVcdQUDP6bohAWtxnGSh_E0Uzyt0ENgRXupw=w1280',
    alt: 'Metal Decor 1',
  },
  {
    id: 7,
    imageUrl:
      'https://lh6.googleusercontent.com/u2wIIZ7axIltZnjxIJHTGvDGEjUOxvD2fRaJgyyHg3Y4EjoxhC84Gx8WEnI6dgy_IcM28fNldxNLqWnInZFGczFsAD_Dul7i7XYvJrKAwXKimvUa8EFpyzFyyBwtdmU9Pw=w1280',
    alt: 'Metal Decor 1',
  },
  {
    id: 8,
    imageUrl:
      'https://lh5.googleusercontent.com/SECg7Uau9o4frK5Ehgcc-mRB6iySPyZPlVPRI2EEgXQe4mrDHlU_c1y-lxDWbF4uaDAX3I6Ur6KEXPMyMfP7qdc=w1280',
    alt: 'Metal Decor 1',
  },
  {
    id: 9,
    imageUrl:
      'https://lh4.googleusercontent.com/gW1hqIhkTb3mqOSJ21hFZA97L47mkf3z2uDDVlZVZOeCxgIpKhfIGjc9VigJ_mMji_q_J70Q5Oue4nOk3WcslF671P-B_LqTgYkDjqgXs6_A3zJHPV9LqSb0UR8RUI2KPw=w1280',
    alt: 'Metal Decor 1',
  },
  {
    id: 10,
    imageUrl:
      'https://lh6.googleusercontent.com/gUluOooub1YVXUMwJsU8p7rnJrIOGIzWuPiPJfPsQkWv_7bloxS4z4qCFdrijOZvmiiuj_FiQ-G9og-P2gkcsZCWhVI1zLIcWzBSUcENf4V7gAAzeRWTtpAP--pck8xEpg=w1280',
    alt: 'Metal Decor 1',
  },
  {
    id: 11,
    imageUrl:
      'https://lh3.googleusercontent.com/-RMw1IDh2n_OyRa5ZjH7CSL3YiDbNt8qRMap4tSZa1VNRWw_k9oGM7xYAcyJD8Jco01p2RhCgTa8a-bvH2zTagygfzExjco0Ep9qy9SbDcWb5Okd5XrVZ_feIgJL-rFtTw=w1280',
    alt: 'Metal Decor 1',
  },
  {
    id: 12,
    imageUrl:
      'https://lh4.googleusercontent.com/zfKKH-Rg07MItW5zxx9Hu5s_bP53u-zV-GJCmTPugbLPiwYyZ4kVL0DGzD6gqvb-ltK7XAbLIw3eCovxE5GOy6Ol0sbQVct4b5t_aBhsEQBgWYjbwBLMCJBLHKtYPxcpZQ=w1280',
    alt: 'Metal Decor 1',
  },
];
---

<Layout
  description="Explore our wide range of bathroom accessories."
  title="Bathroom Accessories · Home"
>
  <div class="max-w-10xl mx-auto px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div>
      <h1 class="mb-8 text-6xl font-bold">Metal Decors</h1>
    </div>
    <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      {metalDecors.map((accessory) => (
        <div
          class="bg-gray-200 overflow-hidden rounded-lg shadow-md flex flex-col justify-between"
        >
          <div>
            <img
              src={accessory.imageUrl}
              alt={accessory.alt}
              class="sm:h-80 md:h-96 lg:h-120 w-full object-cover"
            />
            <div class="p-4">
              <p class="text-sm truncate">{accessory.alt}</p>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</Layout>


